
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 20%;
    border-color: black;
    border-radius: 4px 5px 5px 0px;
    border: 4px;
  }
.testing {
    height: 200px;
    width: 100%;
    padding: 2px;   
}
.row {
    max-height: 200px;
}